h1 {
    color: white;
    position: absolute;
    top: 25%;
    left: 48%;
}

.x {
    color: white;
    position: absolute;
    top: 35%;
    left: 43.5%;
}

.y {
    color: white;
    position: absolute;
    top: 40%;
    left: 40%;
}

.z {
    position: absolute;
    top: 45%;
    left: 50%;
}